@font-face {
    font-family: 'aleolight';
    src: url("https://jermnelson.github.io/intro-library-tech/static/fonts/Aleo-Light-webfont.eot");
    src: url("https://jermnelson.github.io/intro-library-tech/static/fonts/Aleo-Light-webfont.eot%3F%23iefix") format('embedded-opentype'),
         url("https://jermnelson.github.io/intro-library-tech/static/fonts/Aleo-Light-webfont.woff") format('woff'),
         url("https://jermnelson.github.io/intro-library-tech/static/fonts/Aleo-Light-webfont.ttf") format('truetype'),
         url("https://jermnelson.github.io/intro-library-tech/static/fonts/Aleo-Light-webfont.svg%23aleolight") format('svg');
    font-weight: normal;
    font-style: normal;

   }

body {
  font-family: 'aleolight', Verdana, sans-serif;
  margin: 40px;
}

header {
  background-color: rgb(140, 21, 21);
  color: rgb(255, 255, 250);
  height: 50px;
}


header a {
  color: rgb(255, 255, 250);
  text-decoration: underline dotted rgb(255, 255, 250);
}

header h3 {
  padding-top: .75em;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

nav li  {
   display: inline-block;
   margin-right: 1em;
}

nav a {

}

#ils {
  display: grid;
  grid-template-columns: 50% auto;
  grid-gap: 1em;
}

#marc {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 1em;
}

.timeline {
  display: grid;
  grid-template-columns: 5% 50% 45%;
  grid-gap: 1em;

}

.wrapper {
  display: grid;
  grid-template-columns: 33% 33% auto;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.breadcrumbs {
  font-size: .9em;
}

.box {
  background-color: rgb(246, 219, 219);
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.box a {
  color: rgb(51, 51, 51);
  text-decoration: underline dotted blue;

}

.selected {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
  background-color: rgb(246, 219, 219);
}
