<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Stanford DLSS - Introduction to Library Technology</title>
  <meta name="description" content="Introduction to Library Technology first presented on 08 August 2018">
  <meta name="author" content="Jeremy Nelson">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  {% block nav_bar %}
  <header>
    <img src="{{ url_for('static', filename='img/stanford-library-logo.svg') }}"
    alt="Stanford Library Logo" style="float: left">
    <h3>
    &nbsp;DLSS Infrastructure <span class="breadcrumbs">{% block breadcrumbs %}{% endblock %}</span></h3>
  </header>
  {% endblock %}
  {% block main %}
  <h1>Introduction to Library Technology</h1>
  <p>Jeremy Nelson, Software Engineer<br>Wednesday, August 8<sup>th</sup> 2018</p>
  <div class="wrapper">
    <article class="box">
      <h2>
        <a href="{{ url_for('topic', name='timeline') }}">Timeline</a>
      </h2>
      <p>Timeline of Library Technologies</p>
    </article>
    <article class="box">
      <h2>
        <a href="{{ url_for('topic', name='marc-ils') }}">MARC and the ILS</a>
      </h2>
      <p>
        First developmend on 1960s mainframes, the MARC record specification allowed
        libraries to encode their collections and share with other libraries and
        library consortiums. MARC-based enterprise software for cataloging, sharing,
        tracking became known as Intergrated Library Systems or ILS.
      </p>
    </article>
    <article class="box">
      <h2>
        <a href="{{url_for('topic', name='web-opac-discovery-layers') }}">
          WWW, OPACs, and Discovery Layers</a>
      </h2>
      <p>In the early 1990s, Sir Tim Berners-Lee new World Wide Web (WWW) began
         explosive growth tranjectory that ended with current information
         environment we live with today. Libraries and Library Technology Vendors
         inititally released web interfaces for their ILS called OPACs.
      </p>
      <p>
         After 2000, the library open source communities began releasing newer front-end
         Discovery interfaces for library collections including digital
         object management in insitutional repositories.
      </p>
    </article>
    <article class="box ">
      <h2>
        <a href="{{ url_for('topic', name='rdf-linked-data') }}">RDF and Linked Data</a>
      </h2>
      <p>
        Starting in 2001, the technologies for representing web resources as
        machine actionable metadata called Resource Description Framework (RDF)
        has been adopted by the library community to represent bibliographic
        data collectively known as Linked Data. BIBFRAME is a RDF vocabulary
        for replacing MARC.
      </p>
    </article>
    <article class="box">
        <h2>
          <a href="{{ url_for('topic', name='glossary') }}">Glossary</a>
        </h2>

    </article>
  </div>
  {% endblock %}
  {% block navigation %}{% endblock %}
  {% block footer %}
  &copy; 2018 Jeremy Nelson, Stanford University. Licensed under CC0
  {% endblock %}
</body>
</html>
