{% extends 'index.html' %}

{% block breadcrumbs %}-- <a href="{{ url_for('home') }}">Introduction to Library Technologies</a>/ Timeline{% endblock %}

{% block main %}
<h1>Library Technology Timeline</h1>
<article {# class="timeline" #}>
  <section class="timeline">
    {# First Event #}
    <div><h3>1790s</h3></div>
    <div>First "library" cards where used in French
    libraries on the back of playing cards.</div>
    <div></div>
    {# Second Event #}
    <div><h3>1841</h3></div>
    <div>
      <p>Sir Antonio Panizzi publishes
      <em>91 Rules for Standardizing the Cataloguing of Books</em>
     for the British Museum (now Library).</p>
   </div>
    <div>
        <img src="{{ url_for("static", filename="img/91-rules-page-1.png") }}" style="width: 300px; height:auto">
    </div>
    {# Third Event #}
    <div>
      <h3>1876</h3>
    </div>
    <div>
       <p>
       Charles Cutter publishes first edition of <em>Rules for a Printed Dictionary Catalogue</em>
       that defines three objectives of a library catalog:</p>
        <ol>
            <li>Identifying (person can find a book by author,
               title, subject, and date of publication)</li>
            <li>Collocating (show what books a library has by a given author,
                subject, and kind of literature)</li>
            <li>Evaluating (book edition and its character)</li>
        </ol>
     </div>
     <div>
       <p>Melvil Dewey (of Dewey Decimal fame) Director of New York State Library
        founds the Library Bureau company that sells 3x5 catalog cards to fit new
        standardized to fit new card
        catalog cabinets</p>
     </div>
     {# Event #}
     <div>
        <h3>1901</h3>
     </div>
     <div>
       <p>Library of Congress starts selling author, title, and subject cards for purchase
          by libraries</p>
     </div>
     <div>
       <img src="{{ url_for("static", filename="img/card-example.png") }}">
     </div>
     {# Event #}
     <div>
       <h3>1960s</h3>
     </div>
     <div>
       <p>
         MARC format for bibliographic electronic records for exchanging collection information
         between libraries created at the Library of Congress by Henriette Avram.
       </p>
     </div>
     <div></div>
     {# Event #}
     <div>
       <h3>1980s</h3>
     </div>
     <div>
       <p>Development of first Integrated Library Systems (ILS) accessed
          through dedicated terminals.</p>
     </div>
     <div>
       <img src="{{ url_for("static", filename="img/Dynix-Main-Menu-via-Telnet.jpg") }}"
         alt="Dynix Terminal Main Menu Screenshot"
         style="width: 500px">
     </div>
     {# Event#}
     <div>
       <h3>1989</h3>
     </div>
     <div>
       <p>Sir Tim Berners-Lee invents the world wide web at CERN</p>
     </div>
     <div></div>
     {# Event #}
    <div>
      <h3>1994</h3>
    </div>
    <div>
      <p>Amazon founded as a primary online book-store, very influential in
      people's User Interface expectations for finding books online.</p>
    </div>
    <div>
        <img src="{{ url_for('static', filename='img/amazon_logo.gif')}}"
        alt="1998 Amazon Logo">
    </div>
    {# Event #}
    <div>
      <h3>1998</h3>
    </div>
    <div>
      <p>Google Inc. founded in Menlo Park, search experience becomes the norm
      for most users, directly influences users expectations for library
      catalogs.</p>
    </div>
    <div>
      <img src="{{ url_for("static", filename="img/google-logo.jpg") }}"
      alt="Early Google Logo ">
    </div>
    {# Event #}
    <div>
      <h3>2001</h3>
    </div>
    <div>
      <p>Sir Tim Berners-Lee introduces the term <em>Semantic Web</em> in an
        influential <a href="#">article</a> of the same name.
      </p>
    </div>
    <div></div>
    <div>
      <h3>2000s</h3>
    </div>
    <div>
      <p>
      Library Vendors and Open Source "Discovery Layers" provide Amazon and Google "like"
      search technologies that link to legacy ILS systems in libraries.
      </p>
    </div>
    <div>
        <img src="{{ url_for('static', filename='img/blacklight-logo.svg')}}"
            alt="Blacklight Logo"
            style="width: 500px">
    </div>
    {# Event #}
    <div>
      <h3>2010s</h3>
    </div>
    <div>
      <p>Mobile Apps and interfaces to Libraries Catalog becoming more popular
         and necessary for libraries.</p>
    </div>
    <div></div>
    <div>
      <h3>2011</h3>
    </div>
    <div>
      <p>Library of Congress annouces a new linked-data replacement
        for MARC that eventually becomes the RDF vocabulary
        <a href="{{ url_for('topic', name='glossary') }}#BIBFRAME">
          BIBFRAME</a>.
        </p>

    </div>
    <div></div>
  </section>
</article>
{% endblock %}

{% block navigation %}
{% with topic='timeline' %}
  {% include 'topic-nav.html'  %}
{% endwith %}
{% endblock %}
